* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kalam", cursive;
}
/* need qq */
.App {
  background-color: #474747;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
  width: 32rem;
  height: 35rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  font-size: 1.6rem;
  overflow: auto;
}
.header {
  font-size: 4.5rem;
  margin-top: 3%;
  margin-bottom: 5%;
}
/*form input button select styles */
form {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.toDoInput {
  width: 15rem;
  height: 2.2rem;
}

.filterToDo {
  width: 9rem;
  height: 2.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.holdItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnHolder {
  display: flex;
}
.holdItems {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
li {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btnSubmit,
.btnGreen {
  border-radius: 100%;
  border: 4px rgb(66, 64, 64) solid;
}
.btnSubmit:hover,
.btnGreen:hover {
  border-radius: 100%;
  border: 4px rgb(85, 149, 85) solid;
}
.btnRed {
  border-radius: 100%;
  border: 4px rgb(66, 64, 64) solid;
}
.btnRed:hover {
  border-radius: 100%;
  border: 4px rgb(176, 69, 69) solid;
}

@media screen and (max-width: 600px) {
 
  .App {
    background-color: #474747;
    background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
    width: 20rem;
    height: 35rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    font-size: 1.6rem;
  }
  form {
    width: 20rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
  }
  .holdItems {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }

}
